<div class="container">
  <mat-card class="profile-card">
    <img src="../assets/images/lonavala.png" alt="Italian Trulli" class="profile-image">
    <div style="max-width: 50%;">
      <div  class="profile-info">
        <div class="greet text">Hello Everybody! I am</div>
        <div class="name text">Naga Sai Teja Suggula</div>
        <div class="role text">
          Software Engineer at Epam Systems, India
        </div>
        <div class="about text">
          Experienced Software Engineer with a demonstrated history of working in the information technology and services industry.
          <br/>
          Skilled in Angular, React, JavaScript, Node.js, HTML, CSS, Algorithms and Data Structures        </div>
        <div class="icon text">
          <mat-icon>calendar_today</mat-icon>
          {{"04/29/1997" | date: "dd-MMM-yyyy"}}
        </div>
        <div class="icon text">
          <mat-icon>local_phone</mat-icon>
          +91 7396517722
        </div>
        <a class="icon text" href="mailto: suggulasaiteja@gmail.com">
          <mat-icon>email</mat-icon>
          suggulasaiteja@gmail.com
        </a>
        <div class="icon text">
          <mat-icon>school</mat-icon>
          VNR Vignana Jyothi Institute of Technology
        </div>
        <div class="social-media">
          <a class="icon text" href="https://www.linkedin.com/in/sai-teja-suggula/" target="blank">
            <img class="social-media-icon" src="../assets/images/linkedin.svg">
              /sai-teja-suggula
          </a>
          <a class="icon text" href="https://github.com/SaiTeja2904" target="blank">
            <img class="social-media-icon" src="../assets/images/github.svg">
              /SaiTeja2904
          </a>
        </div>
      </div>
    </div>

  </mat-card>
</div>

<div class="toggle">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" appearance="legacy" value="education">
    <mat-button-toggle value="education" (click)="educationClicked()" class="toggle-button">Education</mat-button-toggle>
    <mat-button-toggle value="experience" (click)="experienceClicked()" class="toggle-button">Experience</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div >
  <app-time-line [card]="card"></app-time-line>
</div>
